<div id="content">
	<div id="backbox">
		
		<div id="dick2">
			<ul id="term">
					
				<% @words_category.each do |word| %>
				<li><%= (link_to word.name, word_definitions_path(word.id)) %></li>
				<% end %>
							
			</ul>
		</div>
	</div>
</div>
