<div id="content">
	<div id="backbox">
		<table id="abc"> <tbody>
			<% @alphabet.each do |letter|  %>
				<tr> <td id="abctd">
				<%= link_to(letter, starts_words_path(letter)) %> 
				</td> </tr>
			<% end %>
		</tbody> </table>
		<div id='dick'>
			<div id='term'>
				<% @words_voted.each do |word|%>
				<%= link_to(word.name, word_definitions_path(word.id))  %> 
				<br>
				<% end %>
			</div>
		</div>
	</div>
</div>