<div id="content">
	<div id="backbox">
		
		<div id="dick2">
			<ul id="term">
					
				
				<li><%= (link_to @word.name, word_definitions_path(@word.id)) %></li>
							
			</ul>
		</div>
	</div>
</div>