<div id="content">
	<div id="backbox">
		
		<div id='dick2'>
			<div id='term'>
				<ul>
					<% @words_letter.each do |word| %>
					<li id="term">
					<%= link_to( word.name, word_definitions_path(word.id)) %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>