/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2-bootstrap
 */


@font-face {
    font-family: 'franklin_gothic_fsbook';
    src: url('FranklinGothic-Book-webfont.eot');
    src: url('FranklinGothic-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('FranklinGothic-Book-webfont.woff') format('woff'),
         url('FranklinGothic-Book-webfont.ttf') format('truetype'),
         url('FranklinGothic-Book-webfont.svg#franklin_gothic_fsbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'franklin_gothic_fsbook_italic';
    src: url('FranklinGothic-BookIt-webfont.eot');
    src: url('FranklinGothic-BookIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('FranklinGothic-BookIt-webfont.woff') format('woff'),
         url('FranklinGothic-BookIt-webfont.ttf') format('truetype'),
         url('FranklinGothic-BookIt-webfont.svg#franklin_gothic_fsbook_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'franklin_gothic_fsdemi';
    src: url('FranklinGothic-Demi-webfont.eot');
    src: url('FranklinGothic-Demi-webfont.eot?#iefix') format('embedded-opentype'),
         url('FranklinGothic-Demi-webfont.woff') format('woff'),
         url('FranklinGothic-Demi-webfont.ttf') format('truetype'),
         url('FranklinGothic-Demi-webfont.svg#franklin_gothic_fsdemi') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'franklin_gothic_fsdemi_italic';
    src: url('FranklinGothic-DemiIt-webfont.eot');
    src: url('FranklinGothic-DemiIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('FranklinGothic-DemiIt-webfont.woff') format('woff'),
         url('FranklinGothic-DemiIt-webfont.ttf') format('truetype'),
         url('FranklinGothic-DemiIt-webfont.svg#franklin_gothic_fsdemi_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1, h2, h3{
	font-family: 'franklin_gothic_fsdemi', 'Verdana';
}

body {
	background-color: #D3DAF7;
}
ul {
    list-style-type: none;
}
button {
	background: none;
	border: none;
	font-family: 'franklin_gothic_fsdemi';
	font-size: 1em;
	text-transform: uppercase;
	color: #fff;
}
button:hover {
	color: #990000;
	font-weight: bold; 
}
#user_nav {
	background-image: url("ColorCabecera.jpg");
	margin-top: -10px;
	margin-left: -10px;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 10px;
	color: white;
	background-size: cover;
	border-bottom: 1.5px solid #212c63;
	z-index: 8px
}
#content {
  width: 990px;
  margin: auto;
}
#backbox {
	width: 990px;
	margin: auto;
	background-color: #526DE0;
  	height: 1000px;
  	z-index: -10px;
  	margin-top: -20px;
}
#alph {
	font-family: 'franklin_gothic_fsbook';
	color: white;
	font-size: 1em;
	margin-top: 20px;
}
#def {
	font-family: 'franklin_gothic_fsbook';
	color: black;
	font-size: 1em;
	margin-top: 20px;
}
#origin {
	font-family: 'franklin_gothic_fsbook_italic';
	color: #006600;
	font-size: 1em;
	margin-left: -15px;
	margin-top: -20px;
	margin-bottom: 10px;
}
#example {
	font-family: 'franklin_gothic_fsbook_italic';
	color: black;
	font-size: 15px;
	margin-left: 15px;
	margin-bottom: 20px;
}

#saludo {
	display: inline;
}
#editar_cerrar {
	font-family: 'franklin_gothic_fsbook_italic';
	margin-left: 20px;
	display: inline;
	text-decoration: none;
	color: white;
	text-transform: none;
}
#logo_finder {
	height: 160px;
	background-image: url("ColorCabecera.jpg");
	background-size: cover;
	border-bottom: 2px solid #212c63;
}
#logodiv {
	padding-top: 40px;
	padding-left: 20px;
	height: 90px;
	z-index: 10px;
}
#headache {
	width: 100%;
}
#logo {
	background-image: url("LOGO_ERASMUS.png");
	background-size: cover;
	height: 90px;
	width: 304.24px;
	z-index: 15px;
}
#createbuttonplace {
	float: right;
	z-index: 15px;
	margin-right: 130px;
}
#createbutton {
	font-family: 'franklin_gothic_fsdemi';
	color: #fff;
	background: #494949; /* Old browsers */
	background: -moz-linear-gradient(top, #494949 1%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#494949), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #494949 1%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #494949 1%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #494949 1%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #494949 1%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#000000',GradientType=0 );
	border-radius: 5px;
	border: 2px solid #000;
	padding: 8px;
	font-size: 1.5em;
	text-transform: uppercase;
}
#createbutton:hover {
	transition: 160ms;
	background: #892222; /* Old browsers */
	background: -moz-linear-gradient(top, #892222 0%, #4f0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#892222), color-stop(100%,#4f0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #892222 0%,#4f0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #892222 0%,#4f0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #892222 0%,#4f0000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #892222 0%,#4f0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#892222', endColorstr='#4f0000',GradientType=0 );
	cursor: pointer;
}
#createbutton:active {
	background: #990000; /* Old browsers */
	background: -moz-linear-gradient(top, #990000 0%, #c66161 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#990000), color-stop(100%,#c66161)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #990000 0%,#c66161 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #990000 0%,#c66161 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #990000 0%,#c66161 100%); /* IE10+ */
	background: linear-gradient(to bottom, #990000 0%,#c66161 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#990000', endColorstr='#c66161',GradientType=0 );
	transition: 160ms;
	cursor: pointer;
}
#dick {
	background-color: #fff;
	float: right;
	margin-right: 40px;
	margin-top: 50px;
	border-radius: 5px;
	border: 2px solid black;
	width: 700px;
	padding: 20px;
	padding-left: 40px;
}
#dick2 {
	background-color: #fff;
	float: left;
	margin-left: 60px;
	margin-top: 50px;
	border-radius: 5px;
	border: 2px solid black;
	width: 750px;
	padding: 20px;
	padding-left: 40px;
}
a:link {
    text-decoration: none;
}
a:active {
    cursor: pointer;
}

#term {
	font-size: 1.5em;
	color: #000;
}
#term a:hover {
	color: #990000;
}
#term a:visited {
	color: #000 !important;
}
a:hover {
	color: #990000 !important;
	font-weight: bold;
	cursor: pointer; 
}
#abc {
	float: left;
	background-color: #394daa;
	color: #000;
	text-align: center;
	margin-left: 40px;
	margin-top: 40px;
	border: 2px solid #212c63;
	padding: 10px;
	border-radius: 3px;
	font-family: 'franklin_gothic_fsdemi';
	font-size: 1em;
	text-transform: uppercase;
}

#abc a {
	color: #fff;
}
#abc a:visited {
	color: #fff;
}
#editar_cerrar a{
	color: #fff;
}
#editar_cerrar a:visited {
	color: #fff;
}
button:active {
	background-color: #212c63;
	box-shadow: 0px 0px 10px #212c63;
	color: #fff;
}
#abctd:hover {
	background-color: #3f56bd;
	box-shadow: 0px 0px 10px #3f56bd;
	cursor: pointer;
}
#finder {
	font-family: 'franklin_gothic_fsdemi';
	color: #000;
	background-image: url('CajaGris.jpg');
	background-size: cover;
	border-radius: 5px;
	border: 2px solid #212c63;
	padding: 8px;
	font-size: 1em;
}
#finder:hover {
	background-image: none;
	background-color: #999999;
	transition: 60ms;
	cursor: pointer;
}
#finder:active {
	background-color: #666666;
	cursor: pointer;
}
#finderbox {
	height: 30px;
	border-radius: 3px;
	border: 2px solid #000;
	padding-left: 10px;
	font-family: 'franklin_gothic_fs';
}
#searcher {
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}
#flash_alert {
	font-family: 'franklin_gothic_fsbook';
	color: #990000;
	background-color: #000;
	font-size: 1em;
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 30%;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	position: absolute;
	padding: 8px;
}
#lang_select {
	border-radius: 3px;
	border: 2px solid #000;
	padding: 8px;
	font-family: 'franklin_gothic_fs', 'Verdana';
	font-weight: bold;
	color: #fff;
	font-size: 0.8em;
	background: #4a78db; /* Old browsers */
	background: -moz-linear-gradient(top, #4a78db 1%, #394daa 53%, #394daa 53%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4a78db), color-stop(53%,#394daa), color-stop(53%,#394daa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4a78db 1%,#394daa 53%,#394daa 53%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4a78db 1%,#394daa 53%,#394daa 53%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4a78db 1%,#394daa 53%,#394daa 53%); /* IE10+ */
	background: linear-gradient(to bottom, #4a78db 1%,#394daa 53%,#394daa 53%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a78db', endColorstr='#394daa',GradientType=0 );
	background-color: #394daa;
}
#lang_select:hover {
	background: #273272;
	cursor: pointer;
}
#voted {
	border-radius: 3px;
	border: 2px solid #000;
	padding: 8px;
	font-family: 'franklin_gothic_fs', 'Verdana';
	font-weight: bold;
	color: #fff;
	margin-right: 5px;
	font-size: 0.8em;
	background: #4a78db; /* Old browsers */
	background: -moz-linear-gradient(top, #4a78db 1%, #394daa 53%, #394daa 53%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4a78db), color-stop(53%,#394daa), color-stop(53%,#394daa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4a78db 1%,#394daa 53%,#394daa 53%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4a78db 1%,#394daa 53%,#394daa 53%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4a78db 1%,#394daa 53%,#394daa 53%); /* IE10+ */
	background: linear-gradient(to bottom, #4a78db 1%,#394daa 53%,#394daa 53%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a78db', endColorstr='#394daa',GradientType=0 );
}
#voted:hover {
	background: #273272;
	cursor: pointer;
}
#new_def {
	float: right;
	font-family: 'franklin_gothic_fsdemi';
	color: #000;
	background-image: url('CajaGris.jpg');
	background-size: cover;
	border-radius: 5px;
	border: 2px solid #212c63;
	padding: 8px;
	font-size: 1em;
}
#buttons_header {
	float: right;
}
#voting {
	margin-top: 50px;
	background-color: red;
}